<%- include("partials/header")  %>



<div class="container">
    <div class="row">
        <div class="col-8">
    
            <h1>Welcome to the Developer Thought</h1>
            <p><%= startingContent %></p>

            <% posts.forEach(function(post){ %>
            <h1><%= post.title %></h1>
            <p><%= post.content.substring(0, 300) %>...
                <a href="/posts/<%=post.slug%> ">Read More</a>
            </p>
            <% }); %>

        </div>
        <div class="col-4">
            Technology has changed a lot. We didn’t know if these changes could help in our everyday lives. 
            This site contains the old and latest technology and how they build and how to become functional. 
            We will discuss the different characteristics of each developer and how their ideas could be 
            lifesavers in their day-to-day lives, including Artificial Intelligence (AI), Web development,
            Machine Learning, Data Science, and many other things. 
        </div>
    </div>
</div>








<%- include("partials/footer") %>